extends base

block content 
    div.edit-profile
        if isHeroku
            img.edit-profile__avatarImg(src="/"+loggedInUser.avatarUrl )
        else 
            img.edit-profile__avatarImg(src= loggedInUser.avatarUrl )
        form.edit-profile__form(method="POST", enctype="multipart/form-data") 
            label.edit-profile__input.avatar__text(for="avatar") 당신의 아바타를 넣어주세요
            input.edit-profile__input(type="file",id="avatar",name="avatar", accept="image/*")
            input.edit-profile__input(name="name" , type ="text" , required,placeholder="Name",value=loggedInUser.name)
            input.edit-profile__input(name="email" , type ="email" , required,placeholder="Email",value=loggedInUser.email)
            input.edit-profile__input(name="username" , type ="text" , required,placeholder="User Name",value=loggedInUser.username)
            input.edit-profile__input(name="location" , type ="text" , required,placeholder="Location",value=loggedInUser.location)
            input.edit-profile__input(type="submit",value="Update Profile")
            if (!loggedInUser.socialOnly)
                hr
                a(href="change-password") Change Password &rarr; 