extends base

block content 
    if errorMessage
        span=errorMessage
    form.create-id(Method="POST")
        input.create-id-input(name="name" , type ="text" , required,placeholder="Name")
        input.create-id-input(name="email" , type ="email" , required,placeholder="Email")
        input.create-id-input(name="username" , type ="text" , required,placeholder="User Name")
        input.create-id-input(name="password" , type ="password" , required,placeholder="Password")
        input.create-id-input(name="password2" , type ="password" , required,placeholder="Confirm Password")
        input.create-id-input(name="location" , type ="text" , required,placeholder="Location")
        input.create-id-input(type ="submit" , required ,value="Join")    
    hr
    div 
        span Already have an account?
        a(href="/login") Log in now &rarr; 