extends base

block content 
    if errorMessage
        span=errorMessage
    form.login-form(Method="POST")
        input.login-form__input(name="username" , type ="text" , required,placeholder="User Name")
        input.login-form__input(name="password" , type ="password" , required,placeholder="Password")
        input.login-form__input(type ="submit" , required ,value="Login")
        br
        a.login-github__login(href="/users/github/start") Continue with Github &rarr;     
    hr
    div 
        span Don't have an account?
        a(href="/join") Create one now &rarr; 