extends base.pug

block content 
    div.record-video
        video.record-video__preview#preview
        button.record-video__btn#actionBtn Start Recording
    if errorMessage 
        span=errorMessage
    form.upload-video__form(method="POST" ,enctype="multipart/form-data")
        label.upload-video__input(for="video") Video File 
        input.upload-video__input(type="file",accept="video/*",required,id="video",name="video")
        label.upload-video__input(for="thumb") Thumbnail File 
        input.upload-video__input(type="file",accept="image/*",required,id="thumb",name="thumb")
        input.upload-video__input(name="title",type="text" , placeholder="Title",required,maxlength=80) 
        input.upload-video__input(name="description",type="text" , placeholder="Description",required,minlength=20) 
        input.upload-video__input(name="hashtags",type="text" , placeholder="Hashtags, separated by comma.",required) 
        input.upload-video__input(type="submit",value="Upload Video")
block scripts
    script(src="/static/js/recorder.js")  