extends base.pug

block content
    P=video.description
    small=video.createdAt
    br
    a(href=`${video.id}/edit`) Edit Video &rarr; 
    br
    a(href=`${video.id}/delete`) Delete Video &rarr; 
    
