extends ../base
include ../mixins/video

block content
    div.user-profile
        if loggedInUser.socialOnly
            img.edit-profile__avatarImg(src=loggedInUser.avatarUrl )
        else 
            img.edit-profile__avatarImg(src= loggedInUser.avatarUrl )
        div.user-profile__username #{loggedInUser.username}의 Profile
        div.video-grid
            each video in user.videos 
                +video(video)
            else 
                li not found video